footer#footer.footer
  .header-top
    .container
      .row
        .col-sm-4.col-md-3
          .logo
            a(href='#!')
              img(src='images/logo.png', alt='logo')

        .col-sm-8.col-md-9
          .header-info-wrap
            .contact-info.contact-info--footer
              span.contact-info__location  г. Брянск, п. Супонево, ул. Шоссейная 34-а 

            .contact-info.contact-info--footer
              span.contact-info__shedule Ежедневно 
                span с 9:00 до 20:00
              span.contact-info__mail valensia.32@mail.ru

            .phone-numbers
              span.phone-numbers__item
                | + 7 (4832) 
                b.bold 92-99-88
              span.phone-numbers__item
                | + 7 (905) 
                b.bold 102-07-40
            .btn-wrap
              a.btn.btn-footer(href='#!') Заказать звонок

script(src='js/jquery-2.2.0.min.js')
script(src='js/jquery-ui-1.10.4.custom.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.flexslider-min.js')
script(src='js/bootstrap.min.js')
script(src='js/main.js')