<header id="header" class="header">
  <div class="container">

    <div class="group">
      <div class="head-menu">
        <span class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <ul class="menu">
          <li><a href="#">Item 1</a></li>
          <li><a href="#">Item 2</a></li>
          <li><a href="#">Item 3</a></li>
          <li><a href="#">Item 4</a></li>
          <li><a href="#">Item 5</a></li>
        </ul>
      </div>
    </div>

  </div><!-- container end -->
</header><!--header-->