@import mixins
@import const
@import sprite

/*----------- button style *
 ------------------------------------------------------------*/

.btn
  min-width: 185px
  position: relative
  display: inline-block
  vertical-align: middle
  padding: 11px 20px 13px 20px
  margin: 0
  font: 18px/20px $btn-font-family
  text-align: center
  text-decoration: none
  cursor: pointer
  outline: none
  border: none
  background-color: $btn-bg-color
  color: $btn-color
  border-radius: 22px
  transition: all 0.2s ease
  &:hover
    background-color: $btn-h-bg-color
    color: $btn-h-color
    text-decoration: none
  &:active
    background-color: $btn-act-bg-color
    color: $btn-act-color
    box-shadow: $btn-act-shadow
  &:focus
    outline: none
    color: $btn-color

.btn-max
  width: 100%

.btn-large
  padding: 15px 20px
  min-width: 260px
  font-size: 24px
  text-transform: uppercase
  +border-radius(31px)
  +mobile
    min-width: 190px

.btn-big
  padding: 26px 20px
  min-width: 465px
  +border-radius(37px)
  +tablet
    padding: 20px 15px
    min-width: 150px
    width: 100%
    max-width: 300px

.btn-arrow
  display: inline-block
  vertical-align: bottom
  margin-left: 14px
  +sprite($btn-arrow)

.icon-cart
  display: inline-block
  vertical-align: middle
  margin-left: 15px
  +sprite($cart-btn)

/*----------- media style -----------*/
