@import mixins
@import const
@import sprite

/*----------- Form sryle *
 ------------------------------------------------------------*/
.st-form-group
  margin-bottom: 20px
.placeholder 
  color: #000
input, textarea
  +placeholder-color(#000)
  border-radius: 4px
  padding: 0 19px
  width: 100%
  height: 50px
  position: relative
  outline: none
  font: 14px 'PT Sans', Arial, sans-serif
  color: #000
  background-color: #fff
  border: 2px solid #e0e0e0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
textarea
  height: 138px
  vertical-align: top
  padding: 15px 19px
  resize: none


