@import mixins
@import const
@import sprite

/*----------- Page structur *
 ------------------------------------------------------------*/
html, body
  height: 100%

.clear 
  clear: both
.group:after 
  content: "."
  display: block
  height: 0
  clear: both
  visibility: hidden

#wrapper
  position: relative
  overflow: hidden
  min-width: 320px

.container
  padding: 0 10px


/*----------- header *
 ------------------------------------------------------------*/
.header
  position: relative
  padding: 15px 0
  background-color: #fff
  border-bottom: 1px solid #e7e7e7
.logo
  float: left
  margin: 0 20px 0 0


/*----------- Footer *
 ------------------------------------------------------------*/
.footer
  width: 100%
  position: relative
  .container
    overflow: hidden



/*----------- Main blocks *
 ------------------------------------------------------------*/




























